<div class="container m-auto">
  <form id="loginForm" method="POST" action="/login" class="d-flex flex-column align-items-center">
    <div class="form-group">
      <label for="email" style="font-size:20px;">Email:
        <input id="email" class="form-control" name="email" type="email" style="width:200px" required>
      </label>
    </div>
    <div class="form-group">
      <label for="password" style="font-size:20px;">Password:
        <input id="password" class="form-control" name="password" type="password" style="width:200px" required
          minlength="5">
      </label>
    </div>
    <button type="submit" class="btn btn-primary m-3">Login</button>
  </form>
</div>

<div class="starfish">
    <img id="starfish" src="/images/starfish-clipart-md.png" alt="">
</div>
<div class="starfish2">
    <img id="starfish2" src="/images/starfish-clipart-md (1).png" alt="">
    <img id="starfish3" src="/images/starfish-clipart-md3.png" alt="">
</div>
