  <div class="container mt-5 pt-3">
    <div class="row">
<h1 class="col-4 text-center">Thank you for choosing us</h1>
    </div>
    <div class="row">
<h2 class="col-4 text-center">What would you like to do?</h2>
    </div>
    <div class="row ">
      <div class="col-4 text-center mt-2">
        <a class="text-white p-1 m-3" href="/weather">Check Weather</a>
        <a class="text-white p-1">Reserve SurfBoard</a>
      </div>
    </div>
    
  </div>
   <div class="surfer">
            <div class="body">
                {{!-- <img src="https://creazilla-store.fra1.digitaloceanspaces.com/cliparts/39650/surfer-clipart-md.png"> --}}
                <img id="girl" src="/images/surfing-girl-clipart-lg.png" alt="">
                <img id="boy" src="/images/surfing-clipart-md.png" alt="">
                
            </div>
        </div>
       
        
