<div class="container d-flex">
  <div class="boards">
    <p>RidingWaves Co</p>
  </div>
  <div class="pricelist">
    <h3>Our Prices</h3>
    <p>1 hour...............................$9</p>
    <p>2 hour..............................$13</p>
    <p>1/2 day.............................$16</p>
    <p>whole day...........................$20</p>
    <h3>Kama'aina Prices</h3>
    <p>1 hour...............................$5</p>
    <p>2 hour..............................$7</p>
    <p>1/2 day.............................$10</p>
    <p>whole day...........................$15</p>
    <a id="makeRes" href="/surfboard/reservation">Make Reservation</a>
  </div>
  <div class="resBoard" style="margin-left:100px">

  </div>
</div>
