body {
  /* background-image: url('https://cdn4.vectorstock.com/i/1000x1000/26/03/sea-panorama-vector-12492603.jpg'); */
  background-image: url('/images/8721215.jpg');
  background-size: cover;
}

#lookup{
  width: 400px;
  margin-left: 30px;
  display: inline;
  

}
.days{
  visibility:hidden;
  padding: 0;
  margin: auto;
  /* margin-left: 100px; */
}
.thisDay{
  font-size: 25px;
}

#location{
  font-size: 18px;
  /* padding: 5px 0; */
}
#go{
  font-size: 18px;
  font-weight: 700;
}
#go:hover{
  background-color: white;
}
